<a href="https://colab.research.google.com/github/anaustinbeing/google-colab/blob/main/bicycle_thefts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/Bicycle_Thefts.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27128 entries, 0 to 27127
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   X                      26877 non-null  float64
 1   Y                      26877 non-null  float64
 2   OBJECTID_1             27128 non-null  int64
 3   OBJECTID               27128 non-null  int64
 4   event_unique_id        27128 non-null  object
 5   Primary_Offence        27128 non-null  object
 6   Occurrence_Date        27128 non-null  object
 7   Occurrence_Year        27128 non-null  int64
 8   Occurrence_Month       27128 non-null  object
 9   Occurrence_DayOfWeek   27128 non-null  object
 10  Occurrence_DayOfMonth  27128 non-null  int64
 11  Occurrence_DayOfYear   27128 non-null  int64
 12  Occurrence_Hour        27128 non-null  int64
 13  Report_Date            27128 non-null  object
 14  Report_Year            27128 non-null  int64
 15  Report_Month           27128 non-null  object
 16  Report_DayOfWeek       27128 non-null  object
 17  Report_DayOfMonth      27128 non-null  int64
 18  Report_DayOfYear       27128 non-null  int64
 19  Report_Hour            27128 non-null  int64
 20  Division               27128 non-null  object
 21  City                   27128 non-null  object
 22  Hood_ID                27128 non-null  object
 23  NeighbourhoodName      27128 non-null  object
 24  Location_Type          27128 non-null  object
 25  Premises_Type          27128 non-null  object
 26  Bike_Make              27128 non-null  object
 27  Bike_Model             16907 non-null  object
 28  Bike_Type              27128 non-null  object
 29  Bike_Speed             27128 non-null  int64
 30  Bike_Colour            24917 non-null  object
 31  Cost_of_Bike           25259 non-null  float64
 32  Status                 27128 non-null  object
 33  Longitude              27128 non-null  float64
 34  Latitude               27128 non-null  float64
dtypes: float64(5), int64(11), object(19)
memory usage: 7.2+ MB

In [ ]:
df = df[['Primary_Offence','Occurrence_DayOfWeek','Report_DayOfWeek', 'Hood_ID', 'Bike_Make','Bike_Type', 'Bike_Colour', 'Cost_of_Bike', 'Status', 'Location_Type']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27128 entries, 0 to 27127
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Primary_Offence       27128 non-null  object
 1   Occurrence_DayOfWeek  27128 non-null  object
 2   Report_DayOfWeek      27128 non-null  object
 3   Hood_ID               27128 non-null  object
 4   Bike_Make             27128 non-null  object
 5   Bike_Type             27128 non-null  object
 6   Bike_Colour           24917 non-null  object
 7   Cost_of_Bike          25259 non-null  float64
 8   Status                27128 non-null  object
 9   Location_Type         27128 non-null  object
dtypes: float64(1), object(9)
memory usage: 2.1+ MB

In [ ]:
df.value_counts()

Primary_Offence               Occurrence_DayOfWeek  Report_DayOfWeek  Hood_ID  Bike_Make        Bike_Type  Bike_Colour  Cost_of_Bike  Status     Location_Type
THEFT OF EBIKE OVER $5000     Friday                Wednesday         20       GI               EL         BLK          3499.0        STOLEN     Other Commercial / Corporate Places (For Profit, Warehouse, Corp. Bldg    8
B&E                           Wednesday             Wednesday         32       NINEBOT          SC         BLK          1000.0        STOLEN     Single Home, House (Attach Garage, Cottage, Mobile)                       6
THEFT UNDER                   Tuesday               Tuesday           6        UK               MT         SIL          0.0           STOLEN     Parking Lots (Apt., Commercial Or Non-Commercial)                         4
THEFT UNDER - BICYCLE         Wednesday             Wednesday         82       GI               MT         BLK          1300.0        STOLEN     Apartment (Rooming House, Condo)                                          4
B&E                           Wednesday             Monday            56       KONA             MT         BLKYEL       900.0         STOLEN     Private Property Structure (Pool, Shed, Detached Garage)                  4
                                                                                                                                                                                                                          ..
THEFT UNDER                   Saturday              Wednesday         95       GI               RG         OTH          519.0         STOLEN     Single Home, House (Attach Garage, Cottage, Mobile)                       1
                                                                      93       NO               RC         RED          0.0           STOLEN     Single Home, House (Attach Garage, Cottage, Mobile)                       1
                                                                               GF               RG         BLU          350.0         STOLEN     Apartment (Rooming House, Condo)                                          1
                                                                      91       OTHER            OT         BLK          400.0         STOLEN     Single Home, House (Attach Garage, Cottage, Mobile)                       1
WEAPON - POSS DANGEROUS PURP  Monday                Monday            85       FUJI             RG         RED          800.0         RECOVERED  Apartment (Rooming House, Condo)                                          1
Length: 23020, dtype: int64

In [ ]:
for x in df:
  print(f'number of unique values of {x}: {df[x].nunique()}')

number of unique values of Primary_Offence: 69
number of unique values of Occurrence_DayOfWeek: 7
number of unique values of Report_DayOfWeek: 7
number of unique values of Hood_ID: 141
number of unique values of Bike_Make: 872
number of unique values of Bike_Type: 13
number of unique values of Bike_Colour: 256
number of unique values of Cost_of_Bike: 1741
number of unique values of Status: 3
number of unique values of Location_Type: 43

In [ ]:
bike_colour = pd.crosstab(index=df['Bike_Colour'],columns=df['Status'], margins=True)
bike_colour['STOLEN'].sort_values(ascending=False)

Bike_Colour
All       24186
BLK        7695
BLU        2382
GRY        2322
WHI        2014
          ...
WHT           0
LGRYEL        0
DARK          0
WHIT          0
18            0
Name: STOLEN, Length: 257, dtype: int64

In [ ]:
bike_colour = pd.crosstab(index=df['Cost_of_Bike'],columns=df['Status'], margins=True)
bike_colour['STOLEN'].sort_values(ascending=False)
sum(df['Cost_of_Bike'] == 0)

1252